[submodule "third_party/nessDB"]
	path = third_party/nessDB
	url = git://github.com/shuttler/nessDB.git
[submodule "third_party/leveldb"]
	path = third_party/leveldb
	url = https://code.google.com/p/leveldb/
[submodule "third_party/ft-index"]
	path = third_party/ft-index
	url = git://github.com/Tokutek/ft-index.git
